#### 1. Generate a brief statistic summary for corresponding data

In [2]:
import pandas as pd

# Generate a brief statistic summary for corresponding data 
df = pd.read_csv("SP500.csv")
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,17191.000000,17191.000000,17191.000000,17191.000000,17191.000000,1.719100e+04
mean,546.966024,550.229233,543.522697,547.091391,547.091391,8.945411e+08
std,643.238592,646.567762,639.645155,643.342927,643.342927,1.531001e+09
min,16.660000,16.660000,16.660000,16.660000,16.660000,6.800000e+05
25%,85.419998,86.130001,84.760002,85.424999,85.424999,8.685000e+06
50%,164.369995,165.050003,163.710007,164.289993,164.289993,8.794000e+07
75%,1073.684998,1082.705017,1065.224976,1073.669983,1073.669983,1.110950e+09
max,2867.229980,2872.870117,2851.479980,2872.870117,2872.870117,1.145623e+10

#### 2. Sort daily gain/loss for January of 2018 and store the result back to a .csv file

In [85]:
df = pd.read_csv("SP500.csv")
df_january = df[df['Date'].str.startswith('2018-01')].copy(deep=False)

# Calculate daily gain/loss, store it to new column
df_january.loc[:, 'Gain/Loss'] = df_january['Close'] - df_january['Open']

df_sorted = df_january.sort_values(by='Gain/Loss', ascending=False)

df_sorted.to_csv('pandas_2_output.csv', index=False)

#### 3. Find all of the daily gains reach 20% and above and display them

In [86]:
df = pd.read_csv("SP500.csv")
df['Daily Gain'] = (df['Close'] - df['Open']) / df['Open'] * 100

# no values come up for anything over 10. Might be my error or there aren't any 20% gains
df_filtered = df[df['Daily Gain'] >= 10]

print(df_filtered)

             Date        Open       High        Low      Close  Adj Close  \
14800  2008-10-28  848.919983  940.51001  845.27002  940.51001  940.51001

           Volume  Daily Gain
14800  7096950000   10.789006

#### 4. The highest daily gain and its date, the highest daily loss and its date

In [87]:
df= pd.read_csv("SP500.csv")
df.loc[:, 'Gain/Loss'] = df['Close'] - df['Open']
df_sorted = df.sort_values(by='Gain/Loss', ascending=False)
print(f'Highest gain {df_sorted.iloc[0][-1]} on {df_sorted.iloc[0][0]}')
print(f'Highest loss {df_sorted.iloc[-1][-1]} on {df_sorted.iloc[-1][0]}')

Highest gain 91.59002699999996 on 2008-10-28
Highest loss -104.01000999999997 on 2018-02-08

#### 5. The most daily transaction volume and its date

In [88]:
df = pd.read_csv("sp500.csv")
df_sorted = df.sort_values(by='Volume', ascending=False)
print(f'Highest volume {df_sorted.iloc[0][-1]} on {df_sorted.iloc[0][0]}')
df

Highest volume 11456230000 on 2008-10-10

,Date,Open,High,Low,Close,Adj Close,Volume
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,16.660000,1260000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,16.850000,1890000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,16.930000,2550000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,16.980000,2010000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,17.080000,2520000
...,...,...,...,...,...,...,...
17186,2018-04-23,2675.399902,2682.860107,2657.989990,2670.290039,2670.290039,3017480000
17187,2018-04-24,2680.800049,2683.550049,2617.320068,2634.560059,2634.560059,3706740000
17188,2018-04-25,2634.919922,2645.300049,2612.669922,2639.399902,2639.399902,3499440000
17189,2018-04-26,2651.649902,2676.479980,2647.159912,2666.939941,2666.939941,3665720000
17190,2018-04-27,2675.469971,2677.350098,2659.010010,2669.909912,2669.909912,3219030000

#### 6. A monthly report for year 2017-2018, which has monthly average open price, close price, transaction volume and gain/loss, and a query to find all of the months which have certain range of open prices

In [89]:
df = pd.read_csv("sp500.csv")


df_dates = df[(df['Date'].str.startswith('2018')) | (df['Date'].str.startswith('2017'))]
df_dates.loc[:, 'Gain/Loss'] = df_dates['Close'] - df_dates['Open']


df_dates['Date'] = pd.to_datetime(df_dates['Date'])

summary = df_dates.groupby([df_dates['Date'].dt.year, df_dates['Date'].dt.month])

means = summary.agg({
    'Open': {'mean'},
    'Close': {'mean'},
    'Volume': {'mean'},
    'Gain/Loss': {'mean'}
})



means

C:\Users\tdogl\AppData\Local\Temp\ipykernel_19172\3068172408.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates.loc[:, 'Gain/Loss'] = df_dates['Close'] - df_dates['Open']
C:\Users\tdogl\AppData\Local\Temp\ipykernel_19172\3068172408.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates['Date'] = pd.to_datetime(df_dates['Date'])

                  Open        Close        Volume Gain/Loss
                  mean         mean          mean      mean
Date Date
2017 1     2273.531970  2275.115979  3.524159e+09  1.584009
     2     2325.585282  2329.910542  3.640127e+09  4.325260
     3     2366.868705  2366.822170  3.545555e+09 -0.046535
     4     2360.150005  2359.309455  3.435035e+09 -0.840550
     5     2394.470004  2395.345881  3.618508e+09  0.875877
     6     2434.683605  2433.985451  3.681931e+09 -0.698153
     7     2453.039490  2454.102502  3.158470e+09  1.063013
     8     2456.749968  2456.223070  3.070262e+09 -0.526898
     9     2491.332495  2492.841040  3.316899e+09  1.508545
     10    2555.807273  2556.997270  3.221435e+09  1.189997
     11    2590.306164  2593.605736  3.484441e+09  3.299572
     12    2666.069995  2664.340527  3.262560e+09 -1.729468
2018 1     2785.686651  2789.803816  3.660006e+09  4.117164
     2     2710.269467  2705.155248  4.188390e+09 -5.114219
     3     2707.860003  2702.773821  3.635705e+09 -5.086182
     4     2656.397986  2653.903967  3.295703e+09 -2.494018

In [90]:
print('query:')
query = summary.filter(lambda group: group['Open'].min() > 2100 and group['Open'].max() < 2900).head()
query

query:

,Date,Open,High,Low,Close,Adj Close,Volume,Gain/Loss
16859,2017-01-03,2251.570068,2263.879883,2245.129883,2257.830078,2257.830078,3770530000,6.260010
16860,2017-01-04,2261.600098,2272.820068,2261.600098,2270.750000,2270.750000,3764890000,9.149902
16861,2017-01-05,2268.179932,2271.500000,2260.449951,2269.000000,2269.000000,3761820000,0.820068
16862,2017-01-06,2271.139893,2282.100098,2264.060059,2276.979980,2276.979980,3339890000,5.840087
16863,2017-01-09,2273.590088,2275.489990,2268.899902,2268.899902,2268.899902,3217610000,-4.690186

#### 7. A yearly report which has annual average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable year

In [91]:
df['Gain/Loss'] = df['Close'] - df['Open']

year = df['Date'].str[:4]
annual_data = df.groupby(year).agg({'Open': ['mean'],
                                    'Close': ['mean'],
                                    'Volume': ['mean'],
                                    'Gain/Loss': ['mean']})


most_profitable_year = annual_data.loc[annual_data['Gain/Loss'].idxmax()]


print('Most Profitable Year:\n', most_profitable_year)

print(annual_data)

Most Profitable Year:
              Open        Close        Volume Gain/Loss
             mean         mean          mean      mean
Date
2013  1642.298649  1643.798968  3.358967e+09  1.500319
             Open        Close        Volume Gain/Loss
             mean         mean          mean      mean
Date
1950    18.397269    18.397269  2.009237e+06  0.000000
1951    22.321888    22.321888  1.717590e+06  0.000000
1952    24.496160    24.496160  1.308160e+06  0.000000
1953    24.722590    24.722590  1.413147e+06  0.000000
1954    29.724087    29.724087  2.269762e+06  0.000000
...           ...          ...           ...       ...
2014  1930.754485  1931.376110  3.354783e+09  0.621625
2015  2061.268016  2061.067741  3.655629e+09 -0.200275
2016  2094.091550  2094.651264  3.905232e+09  0.559714
2017  2448.275888  2449.076379  3.412303e+09  0.800491
2018  2715.895794  2713.829129  3.687696e+09 -2.066665

[69 rows x 4 columns]

#### 8. A every other five year report which has every five year average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable five year

In [92]:
year = df['Date'].str[:4].astype(int)
df['Year Group'] = pd.cut(year, bins=range(1950, 2021, 5), right=False)
annual_data = df.groupby('Year Group').agg({'Open': ['mean'],
                                    'Close': ['mean'],
                                    'Volume': ['mean'],
                                    'Gain/Loss': ['mean']})


most_profitable_five_years = annual_data.loc[annual_data['Gain/Loss'].idxmax()]


print('Most Profitable Year:\n', most_profitable_five_years)

print(annual_data)

Most Profitable Year:
                     Open       Close        Volume Gain/Loss
                    mean        mean          mean      mean
Year Group
[1995, 2000)  898.511394  899.311165  5.525298e+08   0.79977
                     Open        Close        Volume Gain/Loss
                     mean         mean          mean      mean
Year Group
[1950, 1955)    23.948002    23.948002  1.743965e+06  0.000000
[1955, 1960)    47.045230    47.045230  2.642627e+06  0.000000
[1960, 1965)    67.134913    67.143545  4.079984e+06  0.008633
[1965, 1970)    92.144817    92.151681  9.552518e+06  0.006864
[1970, 1975)    96.146398    96.124893  1.469059e+07 -0.021504
[1975, 1980)    97.070111    97.102209  2.430481e+07  0.032098
[1980, 1985)   137.429652   137.478087  6.665993e+07  0.048435
[1985, 1990)   259.686461   259.837395  1.532317e+08  0.150934
[1990, 1995)   407.601012   407.684031  2.187798e+08  0.083020
[1995, 2000)   898.511394   899.311165  5.525298e+08  0.799770
[2000, 2005)  1142.276792  1142.076967  1.300866e+09 -0.199825
[2005, 2010)  1232.307609  1232.326600  3.632072e+09  0.018992
[2010, 2015)  1471.892304  1472.574681  3.805046e+09  0.682377
[2015, 2020)  2250.783993  2250.932440  3.660919e+09  0.148448

#### note: Using what we have learned in Unit5 of Pandas to analyze __Sacramentorealestatetransactions.csv__ file with Series and DataFrame operations. Please find answers to the following questions:

#### 9. Regroup the data first by city name, then by type

In [13]:
df = pd.read_csv("Sacramentorealestatetransactions.csv")
df_grouped = df.groupby(['city', 'type'])[['city', 'type']]

for name, group in df_grouped:
    city = name[0]
    property_type = name[1]
    print("City: {:20} Property Type: {}".format(city, property_type))

City: ANTELOPE             Property Type: Condo
City: ANTELOPE             Property Type: Residential
City: AUBURN               Property Type: Condo
City: AUBURN               Property Type: Multi-Family
City: AUBURN               Property Type: Residential
City: CAMERON PARK         Property Type: Condo
City: CAMERON PARK         Property Type: Residential
City: CARMICHAEL           Property Type: Condo
City: CARMICHAEL           Property Type: Residential
City: CITRUS HEIGHTS       Property Type: Condo
City: CITRUS HEIGHTS       Property Type: Multi-Family
City: CITRUS HEIGHTS       Property Type: Residential
City: COOL                 Property Type: Residential
City: DIAMOND SPRINGS      Property Type: Residential
City: EL DORADO            Property Type: Residential
City: EL DORADO HILLS      Property Type: Residential
City: ELK GROVE            Property Type: Condo
City: ELK GROVE            Property Type: Residential
City: ELVERTA              Property Type: Residential
City: FAIR OAKS            Property Type: Condo
City: FAIR OAKS            Property Type: Residential
City: FOLSOM               Property Type: Condo
City: FOLSOM               Property Type: Residential
City: FORESTHILL           Property Type: Residential
City: GALT                 Property Type: Residential
City: GARDEN VALLEY        Property Type: Residential
City: GOLD RIVER           Property Type: Condo
City: GOLD RIVER           Property Type: Residential
City: GRANITE BAY          Property Type: Residential
City: GREENWOOD            Property Type: Residential
City: LINCOLN              Property Type: Condo
City: LINCOLN              Property Type: Residential
City: LOOMIS               Property Type: Residential
City: MATHER               Property Type: Residential
City: MEADOW VISTA         Property Type: Residential
City: NORTH HIGHLANDS      Property Type: Residential
City: ORANGEVALE           Property Type: Residential
City: PENRYN               Property Type: Residential
City: PLACERVILLE          Property Type: Residential
City: POLLOCK PINES        Property Type: Residential
City: RANCHO CORDOVA       Property Type: Condo
City: RANCHO CORDOVA       Property Type: Multi-Family
City: RANCHO CORDOVA       Property Type: Residential
City: RANCHO MURIETA       Property Type: Residential
City: RIO LINDA            Property Type: Residential
City: ROCKLIN              Property Type: Residential
City: ROSEVILLE            Property Type: Condo
City: ROSEVILLE            Property Type: Residential
City: SACRAMENTO           Property Type: Condo
City: SACRAMENTO           Property Type: Multi-Family
City: SACRAMENTO           Property Type: Residential
City: SHINGLE SPRINGS      Property Type: Unkown
City: SLOUGHHOUSE          Property Type: Residential
City: WALNUT GROVE         Property Type: Residential
City: WEST SACRAMENTO      Property Type: Residential
City: WILTON               Property Type: Residential

#### 10. For each city, each type, find the highest, median and lowest transactions

In [14]:
from numpy import median

df_grouped = df.groupby(['city', 'type'])

# calculate the highest, median, and lowest prices for each group
df_result = df_grouped['price'].agg([max, median, min])

# print the result
print(df_result)

                                 max    median     min
city            type
ANTELOPE        Condo         115000  115000.0  115000
                Residential   408431  232600.0  126640
AUBURN          Condo         260000  260000.0  260000
                Multi-Family  285000  285000.0  285000
                Residential   560000  504000.0  420454
CAMERON PARK    Condo         119000  119000.0  119000
                Residential   425000  219750.0  195000
CARMICHAEL      Condo         250134  182000.0  139500
                Residential   668365  266000.0  181872
CITRUS HEIGHTS  Condo         116250   92625.0   69000
                Multi-Family  256054  256054.0  256054
                Residential   305000  191268.0   30000
COOL            Residential   300000  300000.0  300000
DIAMOND SPRINGS Residential   216033  216033.0  216033
EL DORADO       Residential   289000  247000.0  205000
EL DORADO HILLS Residential   879000  471000.0  235738
ELK GROVE       Condo         145000  116500.0   71000
                Residential   510000  258000.0  152000
ELVERTA         Residential   140000  132732.0  126000
FAIR OAKS       Condo         142500  142500.0  142500
                Residential   680000  258006.5  185000
FOLSOM          Condo         240000  240000.0  240000
                Residential   636000  443500.0  200000
FORESTHILL      Residential   194818  194818.0  194818
GALT            Residential   420000  220000.0  106716
GARDEN VALLEY   Residential   490000  490000.0  490000
GOLD RIVER      Condo         300000  300000.0  300000
                Residential   528000  305000.0  299000
GRANITE BAY     Residential   760000  676200.0  600000
GREENWOOD       Residential   395000  395000.0  395000
LINCOLN         Condo         188000  163000.0  138000
                Residential   512000    4897.0    1551
LOOMIS          Residential   839000  567000.0  295000
MATHER          Residential   237800  237800.0  237800
MEADOW VISTA    Residential   230000  230000.0  230000
NORTH HIGHLANDS Residential   224252  129000.0   63000
ORANGEVALE      Residential   475000  252155.0  183200
PENRYN          Residential   506688  506688.0  506688
PLACERVILLE     Residential   677048  325000.0  205000
POLLOCK PINES   Residential   280908  265000.0  175000
RANCHO CORDOVA  Condo          94905   94905.0   94905
                Multi-Family  236000  236000.0  236000
                Residential   430000  281028.0  115000
RANCHO MURIETA  Residential   425000  370500.0   97750
RIO LINDA       Residential   300000  164000.0   30000
ROCKLIN         Residential   600000  370000.0  230095
ROSEVILLE       Condo         350000  170000.0  115000
                Residential   614000  326951.0  160000
SACRAMENTO      Condo         360000  110700.0   40000
                Multi-Family  416767  187290.0  100000
                Residential   699000  180000.0   55422
SHINGLE SPRINGS Unkown        275000  275000.0  275000
SLOUGHHOUSE     Residential     2000    2000.0    2000
WALNUT GROVE    Residential   380000  380000.0  380000
WEST SACRAMENTO Residential   200100  165000.0  147000
WILTON          Residential   884790  579093.0  372000

#### 11. For each zipcode and each type, find average transactions

In [15]:
df_zip = df.groupby(['zip', 'type'])['price'].mean()

print(df_zip)

zip    type
95603  Condo           260000.000000
       Multi-Family    285000.000000
       Residential     494818.000000
95608  Condo           190544.666667
       Residential     314238.882353
                           ...
95842  Multi-Family    179580.000000
       Residential     157920.812500
95843  Condo           115000.000000
       Residential     236168.156250
95864  Residential     364400.000000
Name: price, Length: 101, dtype: float64