#### 1. Generate a brief statistic summary for corresponding data

In [3]:
import pandas as pd

# Generate a brief statistic summary for corresponding data 
df = pd.read_csv("SP500.csv")
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,17191.000000,17191.000000,17191.000000,17191.000000,17191.000000,1.719100e+04
mean,546.966024,550.229233,543.522697,547.091391,547.091391,8.945411e+08
std,643.238592,646.567762,639.645155,643.342927,643.342927,1.531001e+09
min,16.660000,16.660000,16.660000,16.660000,16.660000,6.800000e+05
25%,85.419998,86.130001,84.760002,85.424999,85.424999,8.685000e+06
50%,164.369995,165.050003,163.710007,164.289993,164.289993,8.794000e+07
75%,1073.684998,1082.705017,1065.224976,1073.669983,1073.669983,1.110950e+09
max,2867.229980,2872.870117,2851.479980,2872.870117,2872.870117,1.145623e+10

#### 2. Sort daily gain/loss for January of 2018 and store the result back to a .csv file

In [24]:
df = pd.read_csv("SP500.csv")
df_january = df[df['Date'].str.startswith('2018-01')]

# Calculate daily gain/loss, store it to new column
df_january.loc[:, 'Gain/Loss'] = df_january['Close'] - df_january['Open']

df_sorted = df_january.sort_values(by='Gain/Loss', ascending=False)

df_sorted.to_csv('pandas_2_output.csv', index=False)

C:\Users\tdogl\AppData\Local\Temp\ipykernel_15532\4123439342.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_january.loc[:, 'Gain/Loss'] = df_january['Close'] - df_january['Open']

#### 3. Find all of the daily gains reach 20% and above and display them

In [38]:
df = pd.read_csv("SP500.csv")
df['Daily Gain'] = (df['Close'] - df['Open']) / df['Open'] * 100

# no values come up for anything over 10. Might be my error or there aren't any 20% gains
df_filtered = df[df['Daily Gain'] >= 10]

print(df_filtered)

             Date        Open       High        Low      Close  Adj Close  \
14800  2008-10-28  848.919983  940.51001  845.27002  940.51001  940.51001

           Volume  Daily Gain
14800  7096950000   10.789006

#### 4. The highest daily gain and its date, the highest daily loss and its date

In [23]:
df= pd.read_csv("SP500.csv")
df.loc[:, 'Gain/Loss'] = df['Close'] - df['Open']
df_sorted = df.sort_values(by='Gain/Loss', ascending=False)
print(f'Highest gain {df_sorted.iloc[0][-1]} on {df_sorted.iloc[0][0]}')
print(f'Highest loss {df_sorted.iloc[-1][-1]} on {df_sorted.iloc[-1][0]}')

Highest gain 91.59002699999996 on 2008-10-28
Highest loss -104.01000999999997 on 2018-02-08

#### 5. The most daily transaction volume and its date

In [48]:
df = pd.read_csv("sp500.csv")
df_sorted = df.sort_values(by='Volume', ascending=False)
print(f'Highest volume {df_sorted.iloc[0][-1]} on {df_sorted.iloc[0][0]}')
df

Highest volume 11456230000 on 2008-10-10

,Date,Open,High,Low,Close,Adj Close,Volume
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,16.660000,1260000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,16.850000,1890000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,16.930000,2550000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,16.980000,2010000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,17.080000,2520000
...,...,...,...,...,...,...,...
17186,2018-04-23,2675.399902,2682.860107,2657.989990,2670.290039,2670.290039,3017480000
17187,2018-04-24,2680.800049,2683.550049,2617.320068,2634.560059,2634.560059,3706740000
17188,2018-04-25,2634.919922,2645.300049,2612.669922,2639.399902,2639.399902,3499440000
17189,2018-04-26,2651.649902,2676.479980,2647.159912,2666.939941,2666.939941,3665720000
17190,2018-04-27,2675.469971,2677.350098,2659.010010,2669.909912,2669.909912,3219030000

#### 6. A monthly report for year 2017-2018, which has monthly average open price, close price, transaction volume and gain/loss, and a query to find all of the months which have certain range of open prices

In [89]:
df = pd.read_csv("sp500.csv")


df_dates = df[(df['Date'].str.startswith('2018')) | (df['Date'].str.startswith('2017'))]
df_dates.loc[:, 'Gain/Loss'] = df_dates['Close'] - df_dates['Open']

#df_dates.set_index('Date')
#df_dates.index=pd.DatetimeIndex(df_dates.index)
#df_dates = df_dates.resample('M').mean()
#df_dates.reset_index(inplace=True)
#

#print('Average open price:', df_dates['Open'].mean())
#print('Average close price', df_dates['Close'].mean())
#print('Average Transaction volume', df_dates['Volume'].mean())
#print('Average Gain/Loss', df_dates['Gain/Loss'].mean())
#Query can be edited to include different dates
#print(df_dates[(df_dates['Open'] >= 2300) & (df_dates['Open'] <= 2400)])

       index         Open         High          Low       Close   Adj Close  \
0 1970-01-31  2513.568696  2522.393344  2503.906174  2513.66967  2513.66967

         Volume  Gain/Loss
0  3.479493e+09   0.100974

C:\Users\tdogl\AppData\Local\Temp\ipykernel_15532\3145000433.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates.loc[:, 'Gain/Loss'] = df_dates['Close'] - df_dates['Open']
C:\Users\tdogl\AppData\Local\Temp\ipykernel_15532\3145000433.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_dates = df_dates.resample('M').mean()

#### 7. A yearly report which has annual average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable year

#### 8. A every other five year report which has every five year average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable five year

#### note: Using what we have learned in Unit5 of Pandas to analyze __Sacramentorealestatetransactions.csv__ file with Series and DataFrame operations. Please find answers to the following questions:

#### 9. Regroup the data first by city name, then by type

#### 10. For each city, each type, find the highest, median and lowest transactions

#### 11. For each zipcode and each type, find average transactions